:root {
	--main-bg-color: #941890;
}

body,html {
	background-color: #fbfbfb;
}

#mainHeader {
	background-color: var(--main-bg-color);
	/*height: 75px !important;*/
	padding: 0;
	font-family: "Roboto";
}

#mainHeader > .brand > .navbar-brand {
	padding-left: 7%;
	font-weight: bold;
	height: 59px;
	padding-top: 14.562px;
}


/* TABLET<- */
@media only screen and (min-width : 640px) {
	#mainHeader > .brand {
		/*width: 20%;
		text-align: center;*/
	}

	#mainHeader .buttons {
		margin-top: 19.75px;
		margin-left: auto;
		margin-right: auto;
	}
}

/* SMARTPHONE */
@media only screen and (max-width : 639px) {
	#mainHeader .buttons {
		/*margin-top: 19.75px;*/
		margin-left: auto;
		margin-right: auto;
	}
}

/* DESKTOP<- */
@media only screen and (min-width : 992px) {
	#mainHeader > .container {
		/*margin-left: 3%;*/
	}

	#mainHeader {
		height: 75px;
	}

	#mainHeader > .brand {
		margin-left: -15px;
	}

	#mainHeader #search {
		margin-top: -10px;
	}

	#mainHeader #search {
		margin-left: 20px;
	}

	.myAccountBox {
		background: #2a1b2a;
		margin-top: -35px;
		height: 110px;
		width: 160px;
		margin-left: -162px;
		text-align: center;
	}

	#accountDropdown {
		margin-top: 50px;
		color: #FFF;
		font-weight: lighter;
	}

	#mainHeader .buttons .btn {
		margin-left: 19px;
	}
}

/* WIDE DESKTOP */
@media only screen and (min-width : 1200px) {
	#mainHeader .buttons .btn {
		width: 154px;
	}
}

/* ->DESKTOP */
@media only screen and (max-width : 991px) {
	#mainHeader #navbarSupportedContent {
		margin-left: 10px;
		/*float: left;*/
	}

	#mainHeader #search #searchBox {
		margin-top: 10px;
		width: 96.75% !important;
	}

	#navbarSupportedContent .form-group {
		width: 100%;
	}

	/*#mainHeader .buttons {
		margin: auto;
	}*/

	#navbarSupportedContent .navbar-nav {
		margin-bottom: 15px;
	}

	#mainHeader .brand .navbar-brand {
		margin-left: 15px;
	}
}

#mainHeader #search label {
	color: #FFF !important;
	font-size: 11pt;
	margin-bottom: -2px;
	font-weight: 300;
	justify-content: left;
	z-index: 999999999;
}

#mainHeader #search #searchBox {
	width: 304px;
	background-image: url('/assets/img/searchBackground.png');
	background-repeat: repeat-x;
	border-radius: 5px;
	border: none;
}

#mainHeader #search #searchBox:focus {
	border: none;
}

input:focus {
	box-shadow: none !important;
}

.customBtn {
	font-weight: bold;
	border-radius: 9px;
	height: 36px;
}

#navbarSupportedContent .navbar-nav {
	/*margin-right: 385px;*/
}

/* HAMBURGER MENU */
#mainHeader .navbar-toggler {
	margin: 10px 10px;
}

.wrapper {
	background-color: #FFF;
	border: 2px solid #f5f5f5;
	border-top-width: 0px;
}

.wrapper .wrapperHeadline {
	text-align: center;
	background-color: #ededed;
	font-family: "Roboto";
	font-style: italic;
	font-weight: lighter;
}

.filterSettings {
	border: 1px solid #ededed;
	border-bottom-color: #cccccc;
	border-bottom-width: 4px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
}

.filterSettings .filterHeadline {
	font-size: 15.88px;
	text-align: center;
	margin-top: 10px;
}

.hotspotList {

}

.hotspotList a {
	text-decoration: none !important;
}

.hotspotList .hotspot {
	border: 4px solid #941890;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	padding: 25px 30px;
	height: 103px;
	color: #000 !important;
	transition: background-color 0.25s ease;
	margin-bottom: 10px;
}

.hotspotList .hotspot .topIcon {
	background-color: #941890;
	color: #FFF;
	width: 42px;
	text-align: center;
	margin-top: -25px;
}

.hotspotList .hotspot:hover {
	background-color: #b658b2;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.49);
	-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.49);
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.49);
}

.hotspotList .hotspot:hover .info {
	color: #FFF !important;
}

.hotspotList .hotspot .address {
	float: left;
	display: block;
	font-style: italic;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	width: 170px;
}

.hotspotList .hotspot .address .name {
	font-size: 19.53px;
}

.hotspotList .hotspot .address .sub {
	font-size: 12.54px;
	margin-top: -26px;
}

.hotspotList .hotspot .distance {
	float: right;
	display: block;
	font-style: italic;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	width: 160px;
	text-align: right;
	font-size: 19.53px;
}

.hotspotList .hotspot .info {
	display: block;
	font-style: italic;
	font-size: 19.53px;
	width: 280px;
	float: left;
	margin-top: 10px;
	color: #007bff;
	margin-left: 20px;
	text-align: right;
	transition: color 0.25s ease;
}

.clearUnderline {
	text-decoration: none !important;
}