:root {
	--main-bg-color: #941890;
}

#mainHeader {
	background-color: var(--main-bg-color);
	/*height: 75px !important;*/
	padding: 0;
	font-family: "Roboto";
}

#mainHeader > .brand > .navbar-brand {
	padding-left: 7%;
	font-weight: bold;
	height: 59px;
	padding-top: 14.562px;
}

@media only screen and (min-width : 640px) {
	#mainHeader > .brand {
		/*width: 20%;
		text-align: center;*/
	}
}

@media only screen and (min-width : 992px) {
	#mainHeader > .container {
		/*margin-left: 3%;*/
	}

	#mainHeader {
		height: 75px;
	}

	#mainHeader > .brand {
		margin-left: -15px;
	}

	#mainHeader #search {
		margin-top: -10px;
	}

	#mainHeader #search {
		margin-left: 20px;
	}
}

@media only screen and (max-width : 991px) {
	#mainHeader #navbarSupportedContent {
		margin-left: 10px;
		/*float: left;*/
	}

	#mainHeader #search #searchBox {
		margin-top: 10px;
		width: 98.75% !important;
	}

	#navbarSupportedContent .form-group {
		width: 100%;
	}

	#mainHeader .buttons {
		margin: auto;
	}

	#navbarSupportedContent .navbar-nav {
		margin-bottom: 15px;
	}
}

#mainHeader #search label {
	color: #FFF !important;
	font-size: 11pt;
	margin-bottom: -2px;
	font-weight: lighter;
	justify-content: left;
	z-index: 999999999;
}

#mainHeader #search #searchBox {
	width: 304px;
	background-image: url('/assets/img/searchBackground.png');
	background-repeat: repeat-x;
	border-radius: 5px;
	border: none;
}

#mainHeader #search #searchBox:focus {
	border: none;
}

input:focus {
	box-shadow: none !important;
}

#mainHeader .buttons {
	margin-top: 19.75px;
}

#mainHeader .buttons .btn {
	width: 154px;
	font-weight: bold;
	margin-left: 19px;
	border-radius: 9px;
	height: 36px;
}

#navbarSupportedContent .navbar-nav {
	/*margin-right: 385px;*/
}

/* HAMBURGER MENU */
#mainHeader .navbar-toggler {
	margin: 10px 10px;
}