:root {
	--main-bg-color: #941890;
}

body,html {
	background-color: #fbfbfb;
}

#mainHeader {
	background-color: var(--main-bg-color);
	/*height: 75px !important;*/
	padding: 0;
	font-family: "Roboto";
}

#mainHeader > .brand > .navbar-brand {
	padding-left: 7%;
	font-weight: bold;
	height: 59px;
	padding-top: 14.562px;
}


/* TABLET<- */
@media only screen and (min-width : 640px) {
	#mainHeader > .brand {
		/*width: 20%;
		text-align: center;*/
	}

	#mainHeader .buttons {
		margin-top: 19.75px;
		margin-left: auto;
		margin-right: auto;
	}
}

/* SMARTPHONE */
@media only screen and (max-width : 639px) {
	#mainHeader .buttons {
		/*margin-top: 19.75px;*/
		margin-left: auto;
		margin-right: auto;
	}
}

/* DESKTOP<- */
@media only screen and (min-width : 992px) {
	#mainHeader > .container {
		/*margin-left: 3%;*/
	}

	#mainHeader {
		height: 75px;
	}

	#mainHeader > .brand {
		margin-left: -15px;
	}

	#mainHeader #search {
		margin-top: -10px;
	}

	#mainHeader #search {
		margin-left: 20px;
	}

	.myAccountBox {
		background: #2a1b2a;
		margin-top: -35px;
		height: 110px;
		width: 160px;
		margin-left: -162px;
		text-align: center;
	}

	#accountDropdown {
		margin-top: 50px;
		color: #FFF;
		font-weight: lighter;
	}

	#mainHeader .buttons .btn {
		margin-left: 19px;
	}
}

/* WIDE DESKTOP */
@media only screen and (min-width : 1200px) {
	#mainHeader .buttons .btn {
		width: 154px;
	}
}

/* ->DESKTOP */
@media only screen and (max-width : 991px) {
	#mainHeader #navbarSupportedContent {
		margin-left: 10px;
		/*float: left;*/
	}

	#mainHeader #search #searchBox {
		margin-top: 10px;
		width: 96.75% !important;
	}

	#navbarSupportedContent .form-group {
		width: 100%;
	}

	/*#mainHeader .buttons {
		margin: auto;
	}*/

	#navbarSupportedContent .navbar-nav {
		margin-bottom: 15px;
	}

	#mainHeader .brand .navbar-brand {
		margin-left: 15px;
	}
}

#mainHeader #search label {
	color: #FFF !important;
	font-size: 11pt;
	margin-bottom: -2px;
	font-weight: 300;
	justify-content: left;
	z-index: 999999999;
}

#mainHeader #search #searchBox {
	width: 304px;
	background-image: url('/assets/img/searchBackground.png');
	background-repeat: repeat-x;
	border-radius: 5px;
	border: none;
}

#mainHeader #search #searchBox:focus {
	border: none;
}

input:focus {
	box-shadow: none !important;
}

#mainHeader .buttons .btn {
	font-weight: bold;
	border-radius: 9px;
	height: 36px;
}

#navbarSupportedContent .navbar-nav {
	/*margin-right: 385px;*/
}

/* HAMBURGER MENU */
#mainHeader .navbar-toggler {
	margin: 10px 10px;
}

.wrapper {
	background-color: #FFF;
	border: 2px solid #f5f5f5;
	border-top-width: 0px;
}

.wrapper .wrapperHeadline {
	text-align: center;
	background-color: #ededed;
	font-family: "Roboto";
	font-style: italic;
	font-weight: lighter;
}